#header {
  display: flex;
  position: sticky;
  top: 0;
  background-color: #fff;
  width: fit-content;
  z-index: 100;
}

#header > b {
  min-width: 100px;
  text-align: center;
  border: 1px solid rgb(173, 173, 173);
  padding: 10px 1px;
  background-color: #fff;
  box-sizing: border-box;
}

.row {
  display: flex;
}

.row > b,
.row > div {
  min-width: 100px;
  border: 1px solid rgb(173, 173, 173);
  padding: 10px 1px;
  box-sizing: border-box;
  
}

.row > b:first-child {
  background-color: #fff;
  text-align: center;
  position: sticky;
  left: 0;
}

.row>div{
  overflow:auto;
}
.row>div-::-webkit-scrollbar{
  background-color: red;

}
#body{
    width: fit-content;
}